name: Build C++ Console App

env:
  BUILD_CONFIG: Release
  PLATFORM: x64
  PROJECT_NAME: Module1Task
  DEPLOY_DIR: E:\Programming\Deploy

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build solution
      run: msbuild $env:PROJECT_NAME.sln /p:Configuration=$env:BUILD_CONFIG /p:Platform=$env:PLATFORM

  deploy:
    runs-on: self-hosted

    steps:
    - name: Deploy to local folder
      run: |
        if (Test-Path "$env:DEPLOY_DIR\$env:PROJECT_NAME") { Remove-Item -Path "$env:DEPLOY_DIR\$env:PROJECT_NAME" -Force -Recurse }
        mkdir $env:DEPLOY_DIR\$env:PROJECT_NAME\
        xcopy $env:PLATFORM\$env:BUILD_CONFIG\* $env:DEPLOY_DIR\$env:PROJECT_NAME\ /E /Y
     